configuration {
display-drun: " ";
display-run: " ";
display-window: " ";
display-power-menu:" ";
display-ssh:" ";
}

//@theme "/home/erne/.local/share/rofi/themes/squared-eos.rasi"


//@theme "/usr/share/rofi/themes/dmenu.rasi"

//@theme "/home/erne/.local/share/rofi/themes/squared-eos.rasi"

//@theme "/home/erne/.local/share/rofi/themes/squared-pywal-test.rasi"

//@theme "/home/erne/.local/share/rofi/themes/squared-eos.rasi"

//@theme "/home/erne/.local/share/rofi/themes/squared-btw-os.rasi"

//@theme "/home/erne/.local/share/rofi/themes/squared-dmenu.rasi"

@theme "/home/erne/.local/share/rofi/themes/squared-btw-os-iosevka-mango.rasi"
